# Ignore all files in the .DS_Store directory
.DS_Store

# Ignore all files in the .env directory
.env

# Ignore all files in the .venv directory
venv

# Ignore all files that start with a dot (.)
.DS_Store
.*
._*
!.gitignore

# Ignore all files in the __pycache__ directory
__pycache__
*__pycache__
