# Django dependencies
django
djangorestframework

# Basic dependencies
asgiref==3.7.2
pytz==2023.3.post1
sqlparse==0.4.4
python-dotenv

# MongoDB dependencies
pymongo
django-mongodb-backend

# Redis dependencies
redis

# Groq dependencies
groq

# Deepgram dependencies
deepgram-sdk

# Other AI dependencies
langchain-core
langchain-groq
langchain
pydantic